@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
      font-family: "Raleway", sans-serif;
    margin: 0cap;
    padding: 0cap;
}

body {
    width: 100%;
    background: linear-gradient(-45deg, #1e3c72, #2a5298, #0f2027, #203a43);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.heading{
    font-size: 35px;
}
.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
}

.login_conatainer {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    height: 70vh;
    width: 50%;
    background-color:transparent;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.signup {
    border: 0cap;
    text-decoration: underline;
    background-color: transparent;
    color: rgb(144, 144, 255);
    cursor: pointer;
}

.sig {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.text {
    width: 300px;
    height: 50px;
    border: 0cap;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
}

input::placeholder {
    color: black;
    padding-left: 10px;
}

.io {
    margin-bottom: 5px;
}
.button{
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: gray;
    border-radius: 5px;
}
.bt{
    background-color: transparent;
    border: 0cap;
    width: 300px;
    cursor: pointer;
}
.colory{
    color: rgb(0, 183, 255);
}
.hover-effect {
  border-radius: 12px;
  position: relative;
  transition: all 0.4s ease;
  z-index: 1;
}

.hover-effect:hover {
  border-color: #00f;
  box-shadow: 0 0 15px 4px rgb(0, 183, 255); /* blue glow */
  cursor: pointer;
}
